*.in
!/admin/*.in
*.diff
*.log
*.swp
CVS
.cvsignore
*.bak
aclocal.m4
/admin/ltmain.sh
/admin/compile
/autom4te.cache
/config.h.in~
/configure
/src/moc/autom4te.cache/
/src/moc/configure
/bin
/lib
/share
/var
/core.2*
/*.f++
/db_*.csv
/db_*.txt
libexec/plugin.xml
libexec/plugins
