*.in
!/admin/*.in
*.diff
*.log
*.swp
CVS
.cvsignore
*.bak
aclocal.m4
/admin/ltmain.sh
/admin/compile
/autom4te.cache
/config.h.in~
/configure
/src/moc/autom4te.cache/
/src/moc/configure
/bin
/lib
/share
/var
/core.2*
/*.f++
/db_*.csv
/db_*.txt
libexec/plugin.xml
libexec/plugins
*.lo
*_moc_xml.cpp
*.la
*.c++
*.h++
*.o
.deps
.libs
Makefile
lib*.xml
.autotools
.cproject
.project
.settings/
acinclude.m4
admin/config.guess
admin/config.sub
admin/depcomp
admin/install-sh
admin/missing
admin/ylwrap
config.h
config.status
etc/dreamland.xml
libtool
plug-ins/*/*flags.cpp
plug-ins/*/*/*flags.cpp
src/*flags.cpp
src/dreamland
src/fenia/fenia
src/moc/config.status
src/moc/libtool
src/moc/moc
src/*flags.h
src/version
src/version.cpp
src/xml/xmlreftest
src/xml/xmltest
stamp-h1

